#integration_homeassistant.section h2 {
	margin-bottom: 0;
}

#integration_homeassistant label:not(.inline) {
	display: block;
}

#integration_homeassistant input,
#integration_homeassistant textarea {
	width: 100%;
	max-width: 400px;
}

#integration_homeassistant textarea {
	min-height: 120px;
	font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

#integration_homeassistant .widget-section textarea {
	max-width: none;
	min-height: 300px;
}


#integration_homeassistant .widget-section input[type=checkbox] {
	width: 20px;
	display: inline-block;
	vertical-align: middle;
	height: auto;
	margin-left: 5px;
}


#integration_homeassistant li {
	list-style: circle;
	margin-left: 15px;
}

#integration_homeassistant .icon {
	vertical-align: text-bottom;
}

/* Style tabs */
.tablinks.active,
.tablinks.active:active,
.tablinks.active:hover,
.tablinks.active:focus {
	background-color: var(--color-primary-element);
	color: var(--color-primary-element-text);
}

.tab {
	overflow: hidden;
}

.tab button {
	display: inline-block;
}

.tabcontent {
	display: none;
	padding: 20px 0
}

.tabcontent#jinja2_widget_tab {
	display: block;
}

#integration_homeassistant a {
	color: var(--color-primary-element)
}